<header class="navbar">
  <div class="logo">Murari Air Product</div>
  <div class="menu-toggle" id="menu-toggle">☰</div>

  <nav class="nav-links" id="nav-links">
    <% if (currUser) { %>
      <% if (currUser.role === 'admin') { %>
        <a href="/admin/dashboard" data-i18n="nav_dashboard">Dashboard</a>
        <a href="/admin/supplierDetail" data-i18n="nav_suppliers">Suppliers Detail</a>
      <% } else if (currUser.role === 'supplier') { %>
        <a href="/supplier/dashboard"  data-i18n="nav_dashboard">Dashboard</a>
         <a id="navPurchase" class="active" data-i18n="nav_order">Order Cylinders</a>
        <a id="navReturn"  data-i18n="nav_return">Return Empty Cylinders</a>
      <% } %>
      <span class="welcome" >Welcome, <%= currUser.name %> (<%= currUser.role %>)</span>
      <a href="/api/logout" data-i18n="nav_logout">Logout</a>
    <% } else { %>
      <a href="/" data-i18n="nav_home">Home</a>
      <a href="/login" data-i18n="nav_login">Login</a>
      <a href="/register" data-i18n="register"></a>
    <% } %>
  <button id="langSwitch">English</button>

  </nav>
</header>

<script>
  const toggle = document.getElementById('menu-toggle');
  const links = document.getElementById('nav-links');
  if (toggle) {
    toggle.addEventListener('click', () => {
      links.classList.toggle('active');
    });
  }
    document.querySelectorAll('#nav-links a ,  #nav-links #langSwitch').forEach(link => {
    link.addEventListener('click', () => {
      if (links.classList.contains('active')) {
        links.classList.remove('active');
      }
    });
  });
</script>
