<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
  <%- include('partials/header', { currUser: currUser }) %>
  <div class="dashboard-container">
  <h2 data-i18n="supplierOrders"></h2>
  <input type="text" id="search" placeholder="Search by Supplier name..">
  <button id="manageStockBtn" class="btn-stock" data-i18n="manageGasStock"></button>

<!-- STOCK POPUP -->
<div id="stockPopup" class="stock-popup" style="display:none;">
  <div class="stock-card">
    <h2 data-i18n="manageGasStock"></h2>

    <label><b data-i18n="selectGasType"></b></label>
    <select id="stockGasType">
      <option value="">-- Select Gas Type --</option>
      <option value="O2">Oxygen (O₂)</option>
      <option value="CO2">Carbon Dioxide (CO₂)</option>
      <option value="AR">Argon (AR)</option>
      <option value="N2O">Nitrous Oxide (N₂O)</option>
      <option value="N2">Nitrogen (N₂)</option>
      <option value="Other">Other</option>
    </select>
<input type="text" id="customGasType" placeholder="Enter Custom Gas Type" style="display:none; margin-top:8px;">

    <label><b>Subcategory</b></label>
    <select id="stockSubcategory">
      <option value="">-- Select Subcategory --</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="D">D</option>
      <option value="Other">Other</option>
    </select>
<input type="text" id="customSubcategory" placeholder="Enter Custom Subcategory" style="display:none; margin-top:8px;">

    <label><b>Enter Quantity</b></label>
    <input type="number" id="stockQty" placeholder="Enter Quantity" min="1">

    <button id="addStockBtn" data-i18n="addStock"></button>
    <button id="reduceStockBtn" data-i18n="reduceStock"></button>

    <hr>
    <button id="closeStockPopup" data-i18n="close"></button>

    <h3 data-i18n="availableStock"></h3>
    <div id="stockDisplay"></div>
  </div>
</div>
  <table>
    <thead>
      <tr>
        <th data-i18n="orderId"></th>
        <th data-i18n="supplierName"></th>
        <th data-i18n="gasType"></th>
          <th data-i18n="subcategory"></th>
        <th data-i18n="cylindersOrder"></th>
        <th data-i18n="emptyReturned"></th>
        <th data-i18n="adminStatus"></th>
        <th data-i18n="supplierStatus"></th>
        <th  data-i18n="action"></th>
      </tr>
    </thead>
    <tbody id="ordersTable"></tbody>
  </table>
  <div id="pagination">
    <button id="prevBtn" data-i18n="prev"></button>
    <span id="pageInfo"></span>
    <button id="nextBtn" data-i18n="next"></button>
  </div>

</div>
 <%- include('partials/footer') %> 
  <script src="/js/adminOrders.js"></script>
  <!-- <script src="/js/admin.js"></script> -->
<!-- <%- include('partials/footer') %>   -->

</body>
</html>

