<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, reiciendis quae beatae vel at, neque facilis assumenda officia impedit tenetur quo atque architecto repellendus ipsam rem iusto soluta ut minus.</p>
    </div>
    <%- include('partials/footer') %>
</body>
</html>