<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
<div class="container">
  <div class="subcontainer">
  <h1 data-i18n="supplierRegister"></h1>
  <% if (typeof error !== 'undefined' && error) { %>
    <p class="msg error" data-i18n="<%= error %>"></p>
  <% } %>

  <% if (typeof success !== 'undefined' && success) { %>
    <p class="msg success" data-i18n="<%= success %>"></p>
  <% } %>
  <form action="/api/register" method="POST">
    <input type="text" name="name" data-i18n-placeholder="fullName" required />
    <input type="email" name="email" data-i18n-placeholder="email" required id="email"/>
    <input type="password" name="password" data-i18n-placeholder="password" required />
    <input type="text" name="phone" data-i18n-placeholder="phone"  required id="phone"/>
    <input type="text" name="address" data-i18n-placeholder="address" required />
    <button type="submit" data-i18n="registerBtn"></button>
  </form>
 <p>
  <span data-i18n="alreadyAccount"></span>
  <a href="/login" data-i18n="login"></a>
</p>
</div> </div> 
<%- include('partials/footer') %>
<script src="/js/main.js"></script>
</body>
</html>

