<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include("partials/header") %>
<div class="dashboard-container">
  <!-- Purchase Form -->
  <form id="purchaseForm">
    <label for="cylinders"><b>Number of Cylinders</b></label>
    <br>
    <input type="number" placeholder="Enter Number Of Cylinder" class="amount" id="cylinders" name="cylinders" required min="0">
    <button type="submit">Submit Purchase</button>
  </form>

  <!--  Return Form (hidden initially) -->
  <form id="returnForm" style="display:none;">
    <label for="blankCylinders"><b>Number of Blank Cylinders to Return</b></label>
    <br>
    <input type="number" class="amount" placeholder="Number of Blank Cylinder to Return" id="blankCylinders" name="blankCylinders" required min="0">
    <button type="submit">Submit Return</button>
  </form>

  <p id="msg"></p>

  <h2>My Orders</h2>
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Cylinders</th>
        <th>Blank Cylinders Returned</th>
        <th>Admin Status</th>
        <th>Supplier Status</th>
        <th>Action</th>
        <th>Download Receipt</th>
      </tr>
    </thead>
    <tbody id="myOrder"></tbody>
  </table></div>
  <%- include("partials/footer") %>
  <script src="https://cdn.jsdelivr.net/npm/jspdf@2.5.1/dist/jspdf.umd.min.js"></script>

    <script src="/js/supplier.js"></script>
</body>
</html>