*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0px;
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background: linear-gradient(135deg, #6fe2f1, #a3eeea86); */
  height:100vh;
  width:100%;
  /* padding-bottom: 60px; */
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45); /* darkness overlay */
  z-index: -1;
}
.dashboard-container ,.subcontainer{
  position: relative;
  z-index: 1;
  max-width: 1100px;
  margin: 100px auto 80px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}
.navbar{
  background-color: #0078D7;
  color:white;
  display: flex;
  width:100%;
  z-index:10;
  top:0;
  left:0;
  position:fixed;
  justify-content: space-between;
  align-items: center;
  padding:12px 20px;
  border-radius: 10px;
}
.logo{
  font-size: 1.3rem;
  font-weight: bold;
}
.nav-links{
  display: flex;
  gap:20px;
}
.nav-links a{color:white; text-decoration: none; font-weight: bold;}
.nav-links a:hover{
  text-decoration: underline;
}
.menu-toggle{
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}
@media(max-width:768px){
  .menu-toggle{
    display: block;
  }
  .nav-links{
    display: none;
    flex-direction: column;
    background-color: #005fa3;
    position: absolute;
    top:60px;
    right:20px;
    padding:15px;
    border-radius: 8px;
    width:150px;
  }
  .nav-links.active{
    display: flex;
  }
  .nav-links a{
    margin:10px 0;
  }
}
.footer{
  background-color: #0078D7;
  color:white;
  text-align: center;
  padding: 15px 10px;
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  font-weight: bold;
  border-top:3px solid #005fa3;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.error{
  color:red;
}
.subcontainer{
  width:55%;
  background-color:rgb(89, 240, 240);
  padding:5%;
  text-align: center;
  border-radius:10px;
}
.msg { font-weight: bold; margin-bottom: 10px; }
    .error { color: red; }
    .success { color: green; }
.subcontainer input,button{
  margin:10px 5px;
  width:100%;
  padding:5px;
  border-radius:8px;
  border:2px solid rgb(24, 197, 209);
}
button{
  cursor: pointer;
  color:white;
  font-weight: bold;
  background-color:rgb(94, 94, 233);
}
